@mixin button-blue {
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue-1);
    width: 200px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-family: 'Bebas Neue';
    display: flex;
    border-radius: var(--border-radius);
}

@mixin button-green {
    @include button-blue;
    background-color: var(--green);
}