:root {
    --background: #eee;
    --blue-header: #147e8f;
    --blue-1: #1c8495;
    --blue-hover:#1c5b64;
    --blue-active:#075966;
    --blue-2:#005462;
    --blue-3:#1c8495;
    --blue-4: #1fefff;
    --blue-5: #54bbff;
    --dark-blue: #064978;
    --gray-1:#2f4a4f;
    --gray-2:#6a6f7a;
    --gray-footer: #404040;
    --green:#0e9c60;
    --green-hover:#32a354;
    --green-active:#0e6b2a;
    --purple: #72228f;
    --purple-hover:#773a8d;
    --purple-active:#4b135f;
    --white: #fff;
    --red: #da0808;

    --shadow: 3px 2px 9px -1px rgba(0,0,0,0.3);
    --border-radius: 3px;


    
}